<!-- CONTACTS -->
<section class="contacts section">
  <div class="container">
    <h2 class="section-title visually-hidden">CONTACTS</h2>
    <div class="contacts-list__thumb">
      <ul class="contacts-list list">
        <li class="contacts-list__item">
          <div class="wrapper">
            <p class="contacts-list__subunit">CAFE</p>
            <p class="contacts-list__text contacts-list__info">Chicago</p>
            <a
              class="contacts-list__link contacts-list__text link"
              href="https://goo.gl/maps/DrHVjpQKjsVehQw76"
              target="_blank"
              rel="noopener noreferrer"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </div>
          <div class="wrapper">
            <p class="contacts-list__text">Monday - Friday</p>
            <p
              class="contacts-list__text contacts-list__text-time contacts-list__info"
            >
              06:00 AM - 10:00 PM
            </p>
            <p class="contacts-list__text">Saturday - Sunday</p>
            <p class="contacts-list__text contacts-list__text-time">
              08:00 AM - 16:00 PM
            </p>
          </div>

          <ul class="contacts-info-list">
            <li class="contacts-info-list__item">
              <a
                class="contacts-list__text contacts-info-list__link link"
                href="tel:++61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-info-list__item">
              <a
                class="contacts-list__text contacts-info-list__link link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts-list__item">
          <div class="contacts-list__thumb">
            <div class="wrapper">
              <p
                class="contacts-list__subunit contacts-list__subunit-foodtruck"
              >
                FOODTRUCK
              </p>
              <p class="contacts-list__text contacts-list__info">Los Angeles</p>
              <a
                class="contacts-list__text contacts-list__link link"
                href="https://goo.gl/maps/59iper6AbRh6LtMK9"
                target="_blank"
                rel="noopener noreferrer"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </div>
            <div class="wrapper">
              <p class="contacts-list__text">Monday - Friday</p>
              <p
                class="contacts-list__text contacts-list__text-time contacts-list__info"
              >
                06:00 AM - 10:00 PM
              </p>
              <p class="contacts-list__text">Saturday - Sunday</p>
              <p class="contacts-list__text contacts-list__text-time">
                08:00 AM - 16:00 PM
              </p>
            </div>

            <ul class="contacts-info-list">
              <li class="contacts-info-list__item">
                <a
                  class="contacts-list__text contacts-info-list__link link"
                  href="tel:++61(0) 383 766 284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contacts-info-list__item">
                <a
                  class="contacts-list__text contacts-info-list__link link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="contacts-list__item">
          <div class="contacts-list__thumb">
            <div class="wrapper">
              <p class="contacts-list__subunit">CAFE</p>
              <p class="contacts-list__text contacts-list__info">New York</p>
              <a
                class="contacts-list__text contacts-list__link link"
                href="https://goo.gl/maps/aPLZK26GpTbqGQ7r6"
                target="_blank"
                rel="noopener noreferrer"
                >726 Sterling Pl, Brooklyn, NY 11222, USA</a
              >
            </div>
            <div class="wrapper">
              <p class="contacts-list__text">Monday - Friday</p>
              <p
                class="contacts-list__text contacts-list__text-time contacts-list__info"
              >
                06:00 AM - 10:00 PM
              </p>
              <p class="contacts-list__text">Saturday - Sunday</p>
              <p class="contacts-list__text contacts-list__text-time">
                08:00 AM - 16:00 PM
              </p>
            </div>

            <ul class="contacts-info-list">
              <li class="contacts-info-list__item">
                <a
                  class="contacts-list__text contacts-info-list__link link"
                  href="tel:++61(0) 383 766 284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contacts-info-list__item">
                <a
                  class="contacts-list__text contacts-info-list__link link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="btn-wrapper">
        <button
          class="modal-btn button"
          type="button"
          data-locations-modal-open
        >
          Our Locations
        </button>
        <button
          class="btn-franchise button"
          type="button"
          data-franchise-modal-open
        >
          Franchise
        </button>
      </div>
    </div>
  </div>
</section>
<!-- CONTACTS-END -->
