<!-- CONTACTS -->
<section class="contacts section">
  <div class="container">
    <h2 class="section-title visually-hidden">CONTACTS</h2>
    <ul class="contacts-list list">
      <li class="contacts-list__item">
        <div class="contacts-list__thumb">
          <p class="contacts-list__subunit">CAFE</p>
          <p class="contacts-list__text">Chicago</p>
          <a class="contacts-list__link link" href=""
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
          <p class="contacts-list__text">Monday - Friday</p>
          <p class="contacts-list__text-table">06:00 AM - 10:00 PM</p>
          <p class="contacts-list__text">Saturday - Sunday</p>
          <p class="contacts-list__text-table">08:00 AM - 16:00 PM</p>
          <ul class="contacts-info-list list">
            <li class="contacts-info-list__item">
              <a
                class="contacts-info-list__link link"
                href="tel:++61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-info-list__item">
              <a
                class="contacts-info-list__link link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="ccontacts-list__item">
        <div class="ccontacts-list__thumb">
          <p class="contacts-list__subunit">FOOD TRUCK</p>
          <p class="contacts-list__text">Los Angeles</p>
          <a class="contacts-list__link link" href=""
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
          <p class="contacts-list__text">Monday - Friday</p>
          <p class="contacts-list__text-table">06:00 AM - 10:00 PM</p>
          <p class="contacts-list__text">Saturday - Sunday</p>
          <p class="contacts-list__text-table">08:00 AM - 16:00 PM</p>
          <ul class="contacts-info-list list">
            <li class="contacts-info-list__item">
              <a
                class="contacts-info-list__link link"
                href="tel:++61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-info-list__item">
              <a
                class="contacts-info-list__link link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-list__item">
        <div class="contacts-list__thumb">
          <p class="contacts-list__subunit">CAFE</p>
          <p class="contacts-list__text">New York</p>
          <a class="contacts-list__link link" href=""
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
          <p class="contacts-list__text">Monday - Friday</p>
          <p class="contacts-list__text-table">06:00 AM - 10:00 PM</p>
          <p class="contacts-list__text">Saturday - Sunday</p>
          <p class="contacts-list__text-table">08:00 AM - 16:00 PM</p>
          <ul class="contacts-info-list list">
            <li class="contacts-info-list__item">
              <a
                class="contacts-info-list__link link"
                href="tel:++61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-info-list__item">
              <a
                class="contacts-info-list__link link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
