<section class="reviews container">
  <div class="one-time">
    <div class="reviews__gallery">
      <article class="reviews__photo">
        <div class="reviews__photo-container">
          <img
            class="reviews__photo-reviewer"
            srcset="./images/reviews1@2x.jpg 2x"
            src="./images/reviews1@1x.jpg"
            alt="reviewer's photo"
            width="85"
          />
        </div>
      </article>
      <div class="reviews__text-container">
        <p class="revievs__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
      </div>
      <h3 class="reviews__name">Emily, Los Angeles</h3>
    </div>
    <div class="reviews__gallery">
      <article class="reviews__photo">
        <div class="reviews__photo-container">
          <img
            class="reviews__photo-reviewer"
            srcset="./images/reviews2@2x.jpg 2x"
            src="./images/reviews2@1x.jpg"
            alt="reviewer's photo"
            width="85"
          />
        </div>
      </article>
      <div class="reviews__text-container">
        <p class="revievs__text">
          My children are delighted with your cafe. When the weather is good, we
          love to visit you because you have the most delicious ice cream.
          Friendly, helpful staff.
        </p>
      </div>
      <h3 class="reviews__name">Sara, Chicago</h3>
    </div>
    <div class="reviews__gallery">
      <article class="reviews__photo">
        <div class="reviews__photo-container">
          <img
            class="reviews__photo-reviewer"
            srcset="./images/reviews3@2x.jpg 2x"
            src="./images/reviews3@1x.jpg"
            alt="reviewer's photo"
            width="85"
          />
        </div>
      </article>
      <div class="reviews__text-container">
        <p class="revievs__text">
          I really love ice cream. And when I go to the US for work or travel, I
          always try ice cream. Believe me, you will not find tastier ice cream
          in the whole country. Be sure to try this culinary masterpiece.
        </p>
      </div>
      <h3 class="reviews__name">Marti, Denver</h3>
    </div>
  </div>
</section>
