<section class="gallery ">
    <div class="gallery__container container">
        <picture> 
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desc/gallery/desc-brooke-lark.jpg 1x,
                ./images/desc/gallery/desc-brooke-lark-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/gallery/tab-brooke-lark.jpg 1x,
                ./images/tablet/gallery/tab-brooke-lark-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/gallery/mob-brooke-lark.jpg 1x,
                ./images/mobile/gallery/mob-brooke-lark-2x.jpg 2x
              "
            />
            <img
              class="gallery__photo"
              src="./images/desc/gallery/desc-brooke-lark.jpg "
              alt="photo icecream"
              
            />
          </picture>
    </div>
    

</section>