<section class="product">
  <div class="container">
    <h2 class="product__title title">
      100% natural <br />
      <span class="product__title--secondary">products</span>
    </h2>
    <ul class="product__set list">
      <li class="product__list product__list--icecream">
        <div class="product__bg product__bg--green">
          <img
            class="product__img"
            srcset="
              ./images/ice-cream-1.png                1x,
              ./images/ice-cream-1-2x.png             2x,
              ./images/tablet/hero/tab-smile-1.png    1x,
              ./images/tablet/hero/tab-smile-2-2x.png 2x,
              ./images/ice-cream-1.png                1x,
              ./images/ice-cream-1-2x.png             2x
            "
            src="./images/ice-cream-1.png"
            alt="ice-cream"
          />
        </div>

        <div class="product__description">
          <h3 class="product__item">ice cream</h3>
          <p class="product__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
      </li>
      <li class="product__list product__list--coffee">
        <div class="product__bg product__bg--yellow">
          <img
            class="product__img"
            srcset="
              ./images/desc/desc-bg.png            1x,
              ./images/desc/desc-bg-2x.png         2x,
              ./images/tablet/hero/tab-smile-1.png 1x,
              ./images/tablet/hero/tab-smile-2.png 2x,
              ./images/ice-cream-1.png             1x,
              ./images/ice-cream-1-2x.png          2x
            "
            src="./images/desc/desc-bg.png"
            alt="ice-coffee"
          />
        </div>
        <div class="product__description">
          <h3 class="product__item">ice coffee</h3>
          <p class="product__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
      </li>
      <li class="product__list product__list--milkshake">
        <div class="product__bg product__bg--red">
          <img
            class="product__img"
            srcset="
              ./images/desc/desc-bg.png     1x,
              ./images/desc/desc-bg-2x.png  2x,
              ./images/tablet/tab-bg.png    1x,
              ./images/tablet/tab-bg-2x.png 2x,
              ./images/mobile/mob-bg.png    1x,
              ./images/mobile/mob-bg-2x.png 2x
            "
            src="./images/desc/desc-bg.png"
            alt="milkshake"
          />
        </div>
        <div class="product__description">
          <h3 class="product__item">milkshakes</h3>
          <p class="product__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button type="button" class="btn-products">Products</button>
      </li>
    </ul>
  </div>
</section>
