<section class="product">
  <div class="container">
    <h2 class="product__title title">
      100% natural <br />
      <span class="product__title--secondary">products</span>
    </h2>
    <ul class="product__set list">
      <li class="product__list product__list--icecream">
        <div class="product__bg product__bg--green">
          <img
            class="product__img"
            srcset="
              ./images/ice-cream-desk.jpg             1x,
              ./images/ice-cream-desk@2x.jpg          2x,
              ./images/tablet/ice-cream-tablet.jpg    1x,
              ./images/tablet/ice-cream-tablet@2x.jpg 2x,
              ./images/mob/ice-cream-mob.jpg          1x,
              ./images/mob/ice-cream-mob@2x.jpg       2x
            "
            src="./images/desk/ice-cream-desk.jpg"
            alt="ice-cream"
          />
        </div>

        <div class="product__description">
          <h3 class="product__item">ice cream</h3>
          <p class="product__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
      </li>
      <li class="product__list product__list--coffee">
        <div class="product__bg product__bg--yellow">
          <img
            class="product__img"
            srcset="
              ./images/desk/ice-coffee-desk.jpg        1x,
              ./images/desk/ice-coffee-desk@2x.jpg     2x,
              ./images/tablet/ice-coffee-tablet.jpg    1x,
              ./images/tablet/ice-coffee-tablet@2x.jpg 2x,
              ./images/mob/ice-coffee-mob.jpg          1x,
              ./images/mob/ice-coffee-mob@2x.jpg       2x
            "
            src="./images/desk/ice-coffee-desk.jpg"
            alt="ice-coffee"
          />
        </div>
        <div class="product__description">
          <h3 class="product__item">ice coffee</h3>
          <p class="product__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
      </li>
      <li class="product__list product__list--milkshake">
        <div class="product__bg product__bg--red">
          <img
            class="product__img"
            srcset="
              ./images/desk/milkshake-desk.jpg        1x,
              ./images/desk/milkshake-desk@2x.jpg     2x,
              ./images/tablet/milkshake-tablet.jpg    1x,
              ./images/tablet/milkshake-tablet@2x.jpg 2x,
              ./images/mob/milkshake-mob.jpg          1x,
              ./images/mob/milkshake-mob@2x.jpg       2x
            "
            src="./images/desk/milkshake-desk.jpg"
            alt="milkshake"
          />
        </div>
        <div class="product__description">
          <h3 class="product__item">milkshakes</h3>
          <p class="product__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button type="button" class="btn-products">Products</button>
      </li>
    </ul>
  </div>
</section>
