@media screen and (max-width: 1199px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    // max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #84a178;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-fx), visibility var(--transition-fx);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: relative;

    padding-top: 100px;
    padding-left: auto;
    padding-right: auto;
  }
  .mobile-menu__logo {
    position: absolute;
    top: 24px;
    left: 24px;

    width: 40.47px;
    height: 37px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu__close-icon {
    fill: #fcfcfc;
    transition: fill var(--transition-fx);

    .mobile-menu__close-btn:hover &,
    .mobile-menu__close-btn:focus & {
      fill: var(--accent-color);
    }
  }

  .mobile-menu__item:not(:last-child),
  .mobile-menu__contact-list__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__list {
    text-align: center;
  }

  .mobile-menu__link {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    transition: color var(--transition-fx);

    color: #fcfcfc;

    margin-bottom: 28px;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &.mobile-menu__link_current {
      color: var(--accent-color);
    }
  }

  .mobile-menu__contact-list {
    margin-top: 302px;
    margin-bottom: 64px;
  }

  .mobile-menu__contact-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: var(--pimary-color);
  }

  .mobile-menu__contact-phone {
    color: var(--accent-color);
  }

  .mobile-menu__contact-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
  }

  .mobile-menu__social-list {
    display: flex;
  }

  .mobile-menu__contact-item {
    margin-right: 20px;
  }

  .mobile-menu__social-link {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-color);

    &::after {
      display: block;
      position: absolute;

      content: '';
      width: 22px;
      height: 0px;

      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);

      top: 10px;
      left: 100%;
    }
  }
}

.mobile-menu__modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 40px;
}

@media screen and (max-width: 400px) {
  .mobile-menu__contact-phone {
    font-size: 28px;
  }

  .mobile-menu__social-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 335px) {
  .mobile-menu__contact-phone {
    font-size: 24px;
  }

  .mobile-menu__social-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
