.gallery-contacts {
    background-image: url(../images/mobile/bg-ice-cream-mob-1.png);
    background-position:center top;
    background-size: auto;
    background-repeat: no-repeat;  
}

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .gallery-contacts {
      background-image: url(../images/mobile/bg-ice-cream-mob-1@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    .gallery-contacts {
      background-image: url(../images/tablet/bg-ice-cream-tablet.png);
    }
  }
  
  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
        .gallery-contacts {
      background-image:  url(../images/tablet/bg-ice-cream-tablet@2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    .gallery-contacts {
      background-image: url(../images/desc/group-section-bg.png);
    }
  }
  
  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    .gallery-contacts {
      background-image: url(../images/desc/group-section-bg-2x.png);
    }
  }